/*Estilos da pagina index.html*/
.center {
     text-align:center;
}

.justify{
    text-align: justify;
}

.container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

#menu li {
    display: inline;
    padding: 15px;

}

#menu li a {
    text-decoration: none;
    color: aquamarine;
    font-size: 20px;
}

#menu li a:hover{
    text-decoration: none;
    color: palegreen;
}

.p-30 {
    padding: 30px;
}

.br-50{
    border-radius: 100%;

}

.wh-300{
    width: 200px;
    height: 200px;
}

.tm-social {
    width: 50px;
    height: 50px;

}

#me {
    color: palegreen;
}


/*Estilos da página contato.html*/

.ml-50 {
    margin-left: 50px;
}

.formulario-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.formulario-container .formulario {
    width: 40%;
    align-content: center;
    padding: 10px;
    margin: 10px;
}

.formulario-container .formulario:form {

}
.formulario-container .formulario form input[type=text],
.formulario-container .formulario form input[type=email],
.formulario-container .formulario form textarea{
    border: 1px solid #006599;
    margin-bottom: 20px;
    font-size: 16px;
    display: block;
    padding: 10px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

.formulario-container .localizacao {
    width: 40%;
    margin: 10px;
}